/*******************/
/*** BASE STYLES ***/
/*******************/
body {
  margin: 0;
  background: #000;
  color: #fae1d3;
  box-sizing: border-box;
}

/******************/
/*** TYPOGRAPHY ***/
/******************/

/* dev only */
@font-face {
  font-family: "Favorit";
  src: url("./assets/fonts/Favorit_Regular.woff2") format("woff2"),
    url("./assets/fonts/Favorit_Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src: url("./assets//fonts/Favorit_Regular-Italic.woff2") format("woff2"),
    url("./assets//fonts/Favorit_Regular-Italic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "ITC Garamond Narrow";
  src: url("./assets/fonts//ITCGaramondStd-LtNarrow.woff2") format("woff2"),
    url("./assets/fonts//ITCGaramondStd-LtNarrow.woff") format("woff");
}

#auli p,
#auli q,
#auli span,
#auli input {
  font-family: "Favorit", sans-serif;
}

#auli a {
  color: inherit;
  text-decoration: underline;
}

#auli h1 {
  margin: 0;
}

#auli h2 {
  font-family: "ITC Garamond Narrow", serif;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

#auli input {
  background: #fff;
  color: #1e1e1e !important;
  border: 2px solid #8f7d3e;
}

#auli input::placeholder {
  color: #1e1e1e;
  opacity: 1;
  font-style: italic;
}

/**************/
/*** LAYOUT ***/
/**************/
#auli {
  min-height: calc(100vh - 8rem);
  padding-bottom: 8rem;
  position: relative;
  overflow: auto;
}

#auli-info {
  max-height: 100%;
  position: relative;
  background-color: #000;
}

#auli-info::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-image: url("./assets/shade-vertical.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  mix-blend-mode: multiply;
  pointer-events: none;
  left: 0;
  bottom: 0;
  display: none !important; /* appear in desktop only */
}

#auli-modals {
  padding: 2rem;
}

#auli-modal-container div {
  margin: 0 auto;
}

/* tablet layout */
@media screen and (min-width: 769px) {
  #auli {
    padding: 0;
  }

  #auli-info {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 300px auto;
    grid-template-areas:
      "title about"
      "reset reset";
  }

  #auli-modal-container {
    display: flex;
    column-gap: 2rem;
  }
}

/* desktop+ layout */
@media screen and (min-width: 1024px) {
  #auli {
    max-height: 100vh;
    display: flex;
    flex-direction: row-reverse;
  }

  #auli-info {
    max-width: 325px;
    max-height: 100%;
    padding: 9vh 0 18vh;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5rem auto 1fr;
    grid-template-areas:
      "reset"
      "title"
      "about";
    z-index: 14;
  }

  #auli-interface {
    /* position: relative; */
    flex-grow: 1;
    padding: 9vh 1rem 0;
  }

  #auli-modals {
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  #auli-modal-container {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
  }

  #auli-modal-container > div {
    position: absolute;
    z-index: 15;
  }
}

/******************/
/*** COMPONENTS ***/
/******************/
#auli video,
#auli img {
  width: 100%;
}

#auli-dancer video,
#auli-dancer img {
  display: block;
  margin: 0 auto;
}

#auli-title-card {
  grid-area: title;
  padding: 2rem;
  text-align: center;
}

#auli-title-card a {
  border: solid 1px #fae1d3;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 18px;
  font-size: 2rem;
  line-height: 90%;
  font-family: "ITC Garamond Narrow", serif;
  text-decoration: none;
  color: inherit;
}

#auli-about {
  grid-area: about;
  padding: 2rem;
  overflow-y: auto;
}

#auli-reset {
  grid-area: reset;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

#auli-reset button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  background-image: url("./assets/icons/reset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#auli-animation {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 13;
}

#auli-dancer {
  width: 100%;
  max-width: 375px;
  min-height: 140px;
  margin: 0 auto;
  transform: translateY(1rem);
}

#auli-input {
  display: block;
  width: calc(100% - 4rem);
  max-width: 375px;
  margin: 0 auto 4rem;
  padding: 0.5rem;
  position: relative;
  z-index: 13;
}

.auli-video-container,
.auli-image-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-origin: center;
  margin: 0 auto;
}

/* text animation components */
.auli-scroll-loop {
  height: 100%;
  overflow-y: hidden;
  margin: 0 auto;
}

.auli-scroll-loop p {
  margin: 0.5rem 0;
}

.auli-scroll-loop p a {
  color: #6dc3cc;
}

.auli-scroll-loop > *:first-child {
  padding-top: 8rem;
}

.auli-scroll-loop > *:last-child {
  padding-bottom: 8rem;
}

.auli-blink {
  animation: blink;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 2s; /* default */
}

.auli-scroll-frame {
  overflow-y: scroll;
  right: 10%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.auli-scroll-frame::-webkit-scrollbar {
  display: none;
}

.auli-typing p {
  font-size: 2rem;
}

/* exceptions */
.scroll-pinkblue {
  color: #e6bfbd !important;
}

.scroll-pinkblue a {
  color: #cfeded !important;
}

.auli-typing-blink {
  display: flex;
  flex-grow: 1;
  width: 100%;
  max-width: 375px;
  margin-bottom: 2rem !important;
}

.auli-typing-blink p {
  font-size: 0.95rem;
}

.auli-typing-blink .auli-typing {
  width: 100%;
  font-style: italic;
}

.auli-typing-blink .auli-blink {
  display: inline-block;
}

/*** for wide screens with low height ***/
@media (max-height: 800px) {
  #auli-interface {
    padding: 0 1rem 2rem;
  }

  /* #auli-animation {
    margin-bottom: 0;
  } */
}

/* shadow effects */
.bg-shadow {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.9;
  filter: blur(40px);
}

/*** mobile only component styles ***/
@media screen and (max-width: 769px) {
  .auli-video-container,
  .auli-image-container {
    transform: none;
  }
}

@media screen and (min-width: 769px) {
  .auli-typing-blink {
    max-width: 600px;
  }

  .auli-typing-blink p {
    font-size: 1.5rem;
  }

  .flex-modal-content {
    flex-grow: 1;
    width: 100%;
    max-width: 600px;
  }
}

/*** desktop component styles ***/
@media screen and (min-width: 1024px) {
  #auli-title-card {
    padding: 2rem 0;
  }

  #auli-info::after {
    display: block !important;
  }

  #auli-about {
    padding: 0 1rem 3rem;
  }

  #auli-reset {
    padding: 0;
    justify-content: center;
  }

  .auli-typing-blink {
    max-width: none;
  }

  .auli-typing-blink p {
    font-size: 3rem;
  }

  .flex-modal-content {
    flex-grow: 1;
    max-width: 1240px;
    z-index: 20 !important;
    justify-self: center;
  }

  .flex-modal-content .bg-shadow {
    display: none;
  }
}

/*** css animations ***/
@keyframes blink {
  0% {
    opacity: 1;
  }
  49.9% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
