@font-face {
  font-family: "Favorit";
  src: url("./assets/fonts/Favorit_Regular.woff2") format("woff2"),
    url("./assets/fonts/Favorit_Regular.woff") format("woff");
}

@font-face {
  font-family: "ITC Garamond Narrow";
  src: url("./assets/fonts//ITCGaramondStd-LtNarrow.woff2") format("woff2"),
    url("./assets/fonts//ITCGaramondStd-LtNarrow.woff") format("woff");
}
