/*** BASE STYLES ***/
/* layout styles */
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.24fr 0.76fr;
}

main {
  background: #000;
  color: #fae1d3;
  display: grid;
  grid-template-columns: 0.34fr 0.66fr;
  height: 100%;
}

header {
  background: #fae1d3;
}

/* text styles */
p,
q,
span,
input {
  line-height: 115%;
  font-size: 1.125rem;
  margin: 1rem 0;
  font-family: "Favorit Trial", sans-serif;
}

h2 {
  font-family: "Garamond Trial", serif;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
}

h3 {
  font-family: "Garamond Trial", serif;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.5rem;
}

span {
  display: block;
  padding-left: 1rem;
  max-width: 250px;
}

/*** INFO ***/
#info {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#proto-title-card {
  padding: 2rem;
  text-align: center;
}

#proto-title-card a {
  border: solid 1px #fae1d3;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 18px 8px;
  font-size: 2rem;
  line-height: 90%;
  font-family: "Garamond Trial", serif;
  text-decoration: none;
  color: inherit;
}

#about-text {
  padding: 0 2rem;
  overflow-y: scroll;
}

#dancer-video {
  display: flex;
  align-items: flex-end;
}

#dancer-video img {
  width: 100%;
}

/*** BOT ***/
#au-li {
  position: relative;
}

#proto-aq-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#au-li img {
  width: 100%;
}

#chat {
  text-align: center;
  margin-top: 6rem;
}

#chat input {
  height: 2.375rem;
  width: 45%;
  min-width: 300px;
  font-family: "Favorit Trial", sans-serif;
  padding: 0.25rem 0.5rem;
}

/*** MOBILE STYLES ***/
@media (max-width: 769px) {
  header {
    display: none;
  }

  body {
    display: block;
    height: auto;
  }

  main {
    display: block;
    height: auto;
  }

  #proto-title-card {
    padding-top: 10rem;
    padding-bottom: 4rem;
    background: #fae1d3;
    color: #000;
  }

  #proto-title-card a {
    border-color: #000;
  }

  #info {
    display: block;
    height: auto;
  }

  #about-text {
    padding: 2rem 2rem;
    overflow-y: auto;
  }

  #interface {
    padding: 4rem 0 8rem;
  }
}
