/*******************/
/*** TEXT STYLES ***/
/*******************/
#auli p,
#auli q,
#auli span {
  font-family: "Favorit", sans-serif;
  font-size: 1rem;
  line-height: 1.15;
}

#auli a {
  color: inherit;
  text-decoration: underline;
}

#auli h2 {
  font-family: "ITC Garamond Narrow", serif;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 1rem;
}

#auli input {
  font-family: "Favorit", sans-serif;
  font-size: 1.125rem;
  background: #fff;
  color: #1e1e1e;
  border: 2px solid #8f7d3e;
  /* TODO: modify input outline on focus */
}

/**************/
/*** LAYOUT ***/
/**************/
body {
  margin: 0;
}

#auli {
  background: #000;
  /* background: #333; */
  color: #fae1d3;
  box-sizing: border-box;
}

#auli-interface {
  flex-grow: 1;
  min-height: 100vh;
}

/* tablet layout */
@media screen and (min-width: 769px) {
  #auli-info {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 300px auto;
    grid-template-areas:
      "title about"
      "reset reset";
  }
}

/* desktop+ layout */
@media screen and (min-width: 1024px) {
  #auli {
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: row-reverse;
  }

  #auli-info {
    margin-top: 7vh;
    width: 350px;
    max-height: 540px;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 1fr;
    grid-template-areas:
      "reset"
      "title"
      "about";
  }

  #auli-interface {
    position: relative;
  }
}

/******************/
/*** COMPONENTS ***/
/******************/
#auli video {
  width: 100%;
}

#auli-title-card {
  grid-area: title;
  padding: 2rem;
  text-align: center;
}

#auli-title-card a {
  border: solid 1px #fae1d3;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 18px;
  font-size: 2rem;
  line-height: 90%;
  font-family: "ITC Garamond Narrow", serif;
  text-decoration: none;
  color: inherit;
}

#auli-about {
  grid-area: about;
  padding: 2rem;
  overflow-y: auto;
}

#auli-reset {
  grid-area: reset;
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
}

#auli-reset button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  background-image: url("./assets/icons/reset.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#auli-chatbot {
  max-width: 960px;
  margin: 0 auto;
}

#auli-animation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

#auli-dancer {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  transform: translateY(2.5rem);
}

#auli-message-box {
  display: block;
  width: 100%;
  max-width: calc(360px - 1.25rem);
  margin: 0 auto;
  padding: 0.5rem;
  position: relative;
  z-index: 3;
}

.auli-video-container,
.auli-image-container {
  display: flex;
}

.auli-modal {
  display: none;
}

.auli-modal.open {
  display: block;
}

.auli-modal .text {
  padding: 1rem;
}

.auli-modal img {
  width: 100%;
}

.scroll-loop {
  height: 100%;
  overflow-y: hidden;
  padding: 0 2rem;
  max-height: 200px;
}

.scroll-loop p {
  margin: 0.5rem 0;
}

/*** mobile only component styles ***/
@media (max-width: 769px) {
  #auli-title-card {
    padding-top: 10rem;
    background: #fae1d3;
    color: #1e1e1e;
  }

  #auli-title-card a {
    border-color: #1e1e1e;
  }
}
/*** tablet component styles ***/
@media screen and (min-width: 769px) {
  #auli-about {
    margin-bottom: 1rem;
    max-height: 400px;
  }

  #auli-dancer {
    min-width: 360px;
    max-width: 450px;
    transform: translateY(3.25rem);
  }

  #auli-message-box {
    min-width: 360px;
    /* width: calc(45vw - 1.25rem); */
    max-width: 450px;
    max-width: calc(450px - 1.25rem);
  }
}
/*** desktop component styles ***/
@media (min-width: 1024px) {
  #auli-about {
    padding: 0 2rem;
    /* max-height: none; */
  }

  #auli-reset {
    padding: 0;
    justify-content: center;
  }

  #auli-chatbot {
    margin: 7vh auto 0;
  }

  /* #auli-dancer {
    width: 25vw;
  }

  #auli-message-box {
    width: calc(25vw - 1.25rem);
  } */

  .auli-modal {
    position: absolute;
  }

  #auli-modal-1 {
    /* width: calc(20vw - 4rem); */
    min-width: 300px;
    max-width: 475px;
    /* height: calc(300px); */
    bottom: 15%;
    left: 12.5%;
    border: 2px solid #8f7d3e;
    z-index: 2;
  }

  #auli-modal-2 {
    min-width: 300px;
    max-width: 550px;
    bottom: -1vh;
    right: 5vw;
    border: 2px solid #8f7d3e;
    z-index: 2;
  }
}
